.el-container{
    background: #eee;
}
.el-header,.el-main{
    width: 1190px;
    margin: 0 auto;
    padding: 0;
    overflow: unset;
}
.el-header{
    background: #F8F8F8;
    color: #999;
    width: 100%;
    height: 210px!important;
    font-size: 12px;
    .m-header{
        width: 1190px;
        margin: 0 auto;
    }
}
.el-footer{
    width: 1190px;
    margin-top: 50px;
    padding: 0;
    overflow: unset;
    margin-left: 216px;
}

.layout-default{
    -webkit-font-smoothing: antialiased;
    font-family: "-apple-system",
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    "MIcrosoft YaHei",
    sans-serif !important;
    background-color: #F8F8F8;
}